body{
	height: 100%;
	width: 100%;
}
.index{
	display: inline-block;
	width: 70%;
	/*border: solid #0000ff;*/
	margin-left: 2%;
	margin-top: 4%;
	float: right;
}
.active{
	font-size: 35px;
	text-decoration: none;
}
nav{
	/*margin-left: 2%;*/
	margin-right: 2%;
	padding: 1%;
	background-color: #000033;
	border-radius: 8px;
}
nav a{
	color: #FFFFFF;
}
nav a:hover{
	background-color: #FFFFFF;
	color: #0000FF; 
	border-radius: 5px;
	padding: 2px;
}	

main p{
	padding: 3%;
}

main div h2{
	text-decoration: underline;
}

main div p:nth-child(3){
	color: #FF0000;
}

aside{
	width: 20%;
	display: inline-block;
	background-color: #7eb1c3;
	bottom:0;
	margin-left: 2%;
	padding: 1%;
}

li{
	padding-bottom: 8px;
}

li progress{
	width: 60%
}
h1{
	text-align: center;
	text-transform: uppercase;
}

footer{
	width: 70%;
	margin-left: 2%;
	margin-top: 4%;
}

table{
  padding-top:3%;
}

th{
  font-size: 35px;
  padding: 3%;
  text-decoration: underline;
}

td{
  padding-left: 4%;
}
