body{
	height: 100%;
	width: 100%;
	font-family: monospace, sans-serif , arial;
	font-size: small;
}
.log{
	display: inline-block;
	width: 70%;
	/*border: solid #0000ff;*/
	margin-left: 2%;
	margin-top: 4%;
	float: right;
}
.nascar{
	display: inline-block;
}
.lists{
	/*display: inline-block;*/
	vertical-align: top;
	padding-right: 2%;
}
.active{
	font-size: 35px;
	text-decoration: none;
}
nav{
	/*margin-left: 2%;*/
	margin-right: 2%;
	padding: 1%;
	background-color: #000033;
	border-radius: 8px;
}
nav a{
	color: #FFFFFF;
}
nav a:hover{
	background-color: #FFFFFF;
	color: #f10000; 
	text-decoration: italic;
	border-radius: 5px;
	padding: 2px;
}	
main div p:nth-child(3){
	/*color: #FF0000;*/
}
main p{
	margin-right: 4%;
}
aside{
	width: 20%;
	display: inline-block;
	background-color: #7eb1c3;
	bottom:0;
	margin-left: 2%;
	padding: 1%;
	border-radius: 0 0 15px 15px;
}

li{
	padding-bottom: 8px;
}

li progress{
	width: 60%
}
h1{
	text-align: center;
	text-transform: uppercase;
}

footer{
	width: 70%;
	margin-left: 2%;
	margin-top: 4%;
        vertical-align: bottom;
}

table{
  padding-top:3%;
}

th{
  font-size: 25px;
  padding: 3%;
  text-decoration: underline;
}

td{
  padding-left: 4%;
}

img{
	width: 85%;
	margin-right: 2%;
}

.progress {
  width: 80%;
  max-width: 500px;
  border: 3px solid #005555;
  height: 8px;
  border-radius: 20px;
}

.progress .progress__bar1 {
  height: 100%;
  width: 38%;
  background-color: #b71d1d;
  border-radius: 20px 0px 0px 20px;
}
.progress .progress__bar2 {
  height: 100%;
  width: 13%;
  background-color: #b71d1d;
  border-radius: 20px 0px 0px 20px;
}
.progress .progress__bar3 {
  height: 100%;
  width: 50%;
  background-color: #b71d1d;
  border-radius: 20px 0px 0px 20px;
}

